:root{
    --header-background-color:#FEE6A1;
    --hero-background-color:#FDF6E3;
    --text-color:#4E342E;
    --text-background-color:#FFB347;
    --heading-text-color:#000000;
    --card-background-color:#FFFAF4;
    --input-outline-color:#CCCCCC;
    --footer-ouline-color:#FFCC80;
    --link-color:#E65100;
    --card-outline-color:#FFE0B2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-size: 1.5rem;
}
a{
    text-decoration: none;
    color: var(--link-color);
}
.student input,select{
    outline: none;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 55%;
    background-color:#F7F5F5;
    border: 1px solid var(--input-outline-color);
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
input:focus,
input:active,
select:focus,
select:active{
    border: 2px solid var(--heading-text-color);
}

header{
    background-color: var(--header-background-color);
    display: flex;
    justify-content: space-around;
    padding: 3.5rem;
    font-size: 70%;
}

.reg-form-page{
    background-color: var(--hero-background-color);
    width: 100%;
    padding: 2rem 2rem 0 2rem;
}
.cards{
    background-color: var(--card-background-color);
    width: 70%;
    margin: auto ;
    border: 1px solid var(--card-outline-color);
    padding: 1rem 3rem;
    border-radius: 0.8rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
}
.student{
    display: none;
    animation: fade .4s ease;
    position: relative;

}
.card-head{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 1rem;
    font-size: 70%;
    margin-bottom: 1rem;

}
.active{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.full-width{
    padding: 0.5rem 1rem;
    font-size: 55%;
    background-color:#F7F5F5;
    border: 1px solid var(--input-outline-color);
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}
.student h3,.team-info h3{
    background-color: var(--text-background-color);
    padding: 0.5rem 1rem;
    font-size: 75%;
    border-radius: 0.5rem;
}

label{
    font-size: 65%;
    font-weight: 600;
}
.terms-condition{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.terms{
    display: flex;
    gap: 1rem;
}
.terms input{
    width: 2%;
}
footer{
    border-top: 1px solid var(--card-outline-color);
    width: 100%;
    padding: 1rem;
}
footer ul{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 1rem;
}
footer ul li {
    list-style: none;
}

.btn{
    padding: 0.5rem 1rem;
    width: 10%;
    float: right;
    margin-right: 1rem;
    background-color: #FFB347;
    border: none;
    border-radius: 0.3rem;
    transition: background-color 0.4s ease;
    cursor: pointer;
    color: white;
}
.btn:hover{
    background-color: #fda52a;
}
@keyframes fade{
      from{opacity:0; transform:translateX(30px)}
      to{opacity:1; transform:translateX(0)}
    }